extends layout1.pug
block content
    div.container
        div.row
            div.col-12
                div.container
                    div.row
                        div.col-12
                            h3 Ladies
                                a(name="ladies")
                        div.row
                            each product in products
                                if product.category == "Ladies"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}
                    div.row
                        div.col-12
                            h3 Kids
                                a(name="kids")
                        div.row
                            each product in products
                                if product.category == "kids"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}
                    div.row
                        div.col-12
                            h3 Gentlemen
                                a(name="gentlemen")
                        div.row
                            each product in products
                                if product.category == "gentlemen"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}