extends layout1.pug
block content
    div.container
        div.row
            div.col-12
                h3 Entertainment
            div.row
                each product in products
                    if product.category == "entertainment"
                        div.card
                            img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                            div
                                h4 #{product.name}
                                p Price:#{product.price}
                                div.dpCard.card
                                    h6 Down Payment:
                                    p #{product.downPayment}
            
            div.col-12
                h3 Kitchen
            div.row
                each product in products
                    if product.category == "kitchen"
                        div.card
                            img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                            div
                                h4 #{product.name}
                                p Price:#{product.price}
                                div.dpCard.card
                                    h6 Down Payment:
                                    p #{product.downPayment}