extends layout1.pug
block content
    div.container
        div.row
            div.col-12
                div.container
                    div.row
                        div.col-12
                            h3 SITTING ROOM FURNITURE
                        div.row
                            each product in products
                                if product.category == "livingroom"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}
                    div.row
                        div.col-12
                            h3 Bed room Furniture
                        div.row
                            each product in products
                                if product.category == "bedroom"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}
                    div.row
                        div.col-12
                            h3 Dining Furniture
                        div.row
                            each product in products
                                if product.category == "dining"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}
                    div.row
                        div.col-12
                            h3 Garden Furniture
                        div.row
                            each product in products
                                if product.category == "garden"
                                    div.card
                                        img.ecardimg(src=('/' + product.productImage), alt="no mage", srcset="")
                                        div
                                            h4 #{product.name}
                                            p Price:#{product.price}
                                            div.dpCard.card
                                                h6 Down Payment:
                                                p #{product.downPayment}