extends layout2.pug
block content
    div.container
        header.card-header
            h4.card-title Inventory
            |&nbsp
    div.container
        div.form-row
            div.col.form-group.col-md-12    
                form.search(action='/userList')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='username' placeholder="Enter your search term ...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit")
        table.table
            thead.thead-dark
                tr
                    th Name
                    th Make
                    th Description
                    th Price
                    th Down payment
                    th Payment Interval
                    th Image
                    th 
            tbody
                each product in products
                    tr
                        td #{product.name}
                        td #{product.make}
                        td #{product.description}
                        td #{product.price}
                        td #{product.downPayment}
                        td #{product.paymentInterval}
                        td
                            img(src=product.productImage, style="width: 100px; height: 100px;" alt="")
                        td
                            //-a(href="/purchaseRegistration/purchaseConfirmation/" + product._id) Select
                            form(method="GET" action='/purchaseConfirmation')
                                input(type="hidden", placeholder="", name="id", value=product.id)
                                button.btn.btn-dark.btn-block(type="submit") Delete
            tbody
                each furniture in furnitures
                    tr
                        td #{furniture.name}
                        td #{furniture.make}
                        td #{furniture.description}
                        td #{furniture.price}
                        td #{furniture.downPayment}
                        td #{furniture.paymentInterval}
                        td
                            img(src=furniture.productImage, style="width: 100px; height: 100px;" alt="")
                        td
                            //- a(href="/purchaseRegistration/purchaseConfirmation/" + furniture._id) Select
                            form(method="GET" action='/purchaseConfirmation')
                                input(type="hidden", placeholder="", name="id", value=furniture.id)
                                button.btn.btn-dark.btn-block(type="submit") Delete
            tbody
                each boutique in boutiques
                    tr
                        td #{boutique.name}
                        td #{boutique.make}
                        td #{boutique.description}
                        td #{boutique.price}
                        td #{boutique.downPayment}
                        td #{boutique.paymentInterval}
                        td
                            img(src=boutique.productImage, style="width: 100px; height: 100px;" alt="")
                        td
                            //- a(href="/purchaseRegistration/purchaseConfirmation/" + furniture._id) Select
                            form(method="GET" action='/purchaseConfirmation')
                                input(type="hidden", placeholder="", name="id", value=boutique.id)
                                button.btn.btn-dark.btn-block(type="submit") Delete
            tbody
                each electronic in electronics
                    tr
                        td #{electronic.name}
                        td #{electronic.make}
                        td #{electronic.description}
                        td #{electronic.price}
                        td #{electronic.downPayment}
                        td #{electronic.paymentInterval}
                        td
                            img(src=electronic.productImage, style="width: 100px; height: 100px;" alt="")
                        td
                            //- a(href="/purchaseRegistration/purchaseConfirmation/" + furniture._id) Select
                            form(method="GET" action='/purchaseConfirmation')
                                input(type="hidden", placeholder="", name="id", value=electronic.id)
                                button.btn.btn-dark.btn-block(type="submit") Delete