extends layout.pug
block content
    div.container
        header.card-header
            h4.card-title New Purchase
            |&nbsp
    div.container
        div.form-row
            div.col.form-group.col-md-12    
                form.search(action='/registerPurchase')
                    div.form-row
                        div.col-md-8
                            input.form-control(name='name' placeholder="Search by name...")
                        div.col-md-4
                            input.btn.btn-dark.btn-block(type="submit")
        table.table
            thead.thead-dark
                tr
                    th Name
                    th Make
                    th Description
                    th Price
                    th Down payment
                    th Payment Interval
                    th Image
                    th 
            tbody
                each product in products
                    tr
                        td #{product.name}
                        td #{product.make}
                        td #{product.description}
                        td #{product.price}
                        td #{product.downPayment}
                        td #{product.paymentInterval}
                        td
                            img(src=product.productImage, style="width: 100px; height: 100px;" alt="")
                        td
                            //-a(href="/purchaseRegistration/purchaseConfirmation/" + product._id) Select
                            form(method="GET" action='/purchaseConfirmation')
                                input(type="hidden", placeholder="", name="id", value=product.id)
                                button.btn.btn-dark.btn-block(type="submit") Select